<div class="btn-group menu">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a id="menu-doors"><span class="glyphicon glyphicon-th-large"></span> Doors</a></li>
        <li><a id="menu-users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
        <li><a id="menu-logs"><span class="glyphicon glyphicon-book"></span> Logs</a></li>
        <li><a id="menu-logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
    </ul>
</div>
